fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
google-generativeai
ortools
redis
rq
python-dotenv>=0.21.0
pydantic
rapidfuzz
websockets<17.0,>=13.0.0
pgvector
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
